--
-- PostgreSQL database dump
--

\restrict 6S9y4EZTuf1xT3iSdYA62t8gAQCaGP7R1FLhlbh7EmpFifYvxQOofMroDvCfw7e

-- Dumped from database version 18.4 (Debian 18.4-1.pgdg12+1)
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: sm_progression_db_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO sm_progression_db_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: config; Type: TABLE; Schema: public; Owner: sm_progression_db_user
--

CREATE TABLE public.config (
    key text NOT NULL,
    value text
);


ALTER TABLE public.config OWNER TO sm_progression_db_user;

--
-- Name: progression; Type: TABLE; Schema: public; Owner: sm_progression_db_user
--

CREATE TABLE public.progression (
    raid text NOT NULL,
    boss text NOT NULL,
    status integer,
    messageid text
);


ALTER TABLE public.progression OWNER TO sm_progression_db_user;

--
-- Data for Name: config; Type: TABLE DATA; Schema: public; Owner: sm_progression_db_user
--

COPY public.config (key, value) FROM stdin;
roleId	305459480760680448
\.


--
-- Data for Name: progression; Type: TABLE DATA; Schema: public; Owner: sm_progression_db_user
--



--
-- Name: config config_pkey; Type: CONSTRAINT; Schema: public; Owner: sm_progression_db_user
--

ALTER TABLE ONLY public.config
    ADD CONSTRAINT config_pkey PRIMARY KEY (key);


--
-- Name: progression progression_pkey; Type: CONSTRAINT; Schema: public; Owner: sm_progression_db_user
--

ALTER TABLE ONLY public.progression
    ADD CONSTRAINT progression_pkey PRIMARY KEY (raid, boss);


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON SEQUENCES TO sm_progression_db_user;


--
-- Name: DEFAULT PRIVILEGES FOR TYPES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TYPES TO sm_progression_db_user;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON FUNCTIONS TO sm_progression_db_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TABLES TO sm_progression_db_user;


--
-- PostgreSQL database dump complete
--

\unrestrict 6S9y4EZTuf1xT3iSdYA62t8gAQCaGP7R1FLhlbh7EmpFifYvxQOofMroDvCfw7e

